#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // TODO -> Proper default keymap!
        default_layer {
            bindings = <
                        &kp Y       &kp O           &kp F        &kp B               &kp K          &kp Q       &kp L     &kp V
    &kp J    &kp U      &kp I       &kp A           &kp C        &kp G               &kp M          &kp T       &kp N     &kp S   &kp R   &kp Z
             &kp W      &kp COMMA   &kp PERIOD      &kp P        &trans              &trans         &kp D       &kp H     &kp X   &kp SINGLE_QUOTE

                                                    &kp LSHIFT   &kp E               &kp SPACE      &kp BACKSPACE
                                                                 &kp ASTERISK        &kp SLASH      
            >;
        };
    };
};
