#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFL 0
#define L1 1

&lt {
    tapping-term-ms = <200>;
};
&mt {
    tapping-term-ms = <400>;
};


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                               &kp W       &kp E       &kp R           &kp T             &kp Y          &kp U       &kp I     &kp O
    &kp Q    &kp A             &kp S       &kp D       &kp F           &kp G             &kp H          &kp J       &kp K     &kp L      &kp SEMICOLON   &kp RSHIFT
             &sk LSHIFT(Z)     &kp X       &kp C       &kp V           &kp B             &kp N          &kp M       &kp COMMA &kp DOT    &sk RSHIFT(SLASH)

                                                       &lt L1 LCTRL    &kp LALT          &lt L1 SPACE   &kp BACKSPACE
                                                                       &kp LCMD          &kp ENTER
            >;
        };

        nav_layer {
            label = "LAYER_1";
            bindings = <
                            &kp N2      &kp N3        &kp N4           &kp N5            &kp N6        &kp N7         &kp N8       &kp N9 
    &kp N1   &kp GRAVE      &kp HOME    &kp PAGE_UP   &kp PAGE_DOWN    &kp END           &kp C_BRI_UP  &kp C_BRI_DN   &kp C_MUTE   &kp C_VOL_DOWN   &kp C_VOL_UP  &kp N0 
             &kp LSHIFT     &kp LPAR    &kp RPAR      &kp LG(V)        &kp TAB           &kp LEFT      &kp DOWN       &kp UP       &kp RIGHT        &kp ENTER

                                                      &lt DEFL LCTRL   &kp LALT          &kp LPAR      &kp CAPS
                                                                       &kp LCMD          &kp RPAR 
            >;
        };
    };
}
